body {
    font-family: sans-serif;
    background-color: #132b4f;
    margin: 0;
    padding: 0;
}

#barTop {
    background-color: #d3d3d3;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#navbBar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    margin-left: 1vw;
}

#logo {
    border: black 1px solid;
    width: 3vw;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 1vw;
}

h2 {
    color: #fbffdf
}

.selection-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacement entre les sélections */
  }
  
  .place-text {
    color: #fbffdf; /* Couleur des chiffres */
    margin-right: 8px; /* Espacement entre le numéro et le select */
    font-weight: bold; /* Rendre les chiffres en gras (optionnel) */
  }

#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titlePage {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#captainImg {
    width: 10vh;
}

#selectionContainer {
    display: flex;
}

#showTeamsButton {
    margin-left: 8%;
}

#buttonBot {
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: #f9faff;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 2vh 0;
}

button:hover {
    background-color: #45a049;
}

#eastContainer {
    margin-left: 3%;
    margin-right: 3%;
}

#westContainer {
    margin-left: 3%;
    margin-right: 3%;
}

#eastSelection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#westSelection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#teamsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

table {
    width: 45%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td img {
    max-width: 50px;
    height: auto;
}

select {
    margin: 5px;
    padding: 5px;
}
